<header class="bg-crust z-10 relative px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-center border-b border-zinc-100 py-3 text-xl text-sapphire">
    <span class="w-fit">chat-translate</span>
  </div>
</header>
<main class="bg-base min-h-screen min-w-screen absolute top-0 left-0 right-0 sm:px-4 sm:py-6 overflow-y-hidden sm:px-6 lg:px-8">
  <.flash_group flash={@flash} />
  {@inner_content}
</main>
