<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta property="og:title" content={@page_title <> " · chat-translate"} />
    <meta property="og:description" content={@og_description} />
    <meta property="og:image" content={@og_image} />
    <meta name="theme-color" content="#04a5e5">
    <meta name="twitter:card" content="summary_large_image">
    <.live_title suffix=" · chat-translate">
      <%= assigns[:page_title] %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tenor+Sans&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-base antialiased font-titillium">
    <%= @inner_content %>
  </body>
</html>
